.Main {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 15% 75% 10%;
  background-color: #f9f9f9;
  font-size: calc(10px + 1vmin);
  color: #333;
}

/* ----- HEADER ----- */
.Main-Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  border-bottom: 2px solid #e0e0e0;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

/* ----- CONTENT ----- */
.Main-Content {
  grid-row: 2;
  width: 95%;
  margin: 5px auto;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  padding-top: 1.5rem;
  
}

/* ----- FOOTER ----- */
.Main-Footer {
  grid-row: 3;
  align-items: center;
  padding-top: 5px;
  font-style: italic;
  font-size: 9pt;
  color: #555;
  background-color: white;
  border-top: 1px solid #e0e0e0;
}
